.footer{
    display: flex;
    justify-content: 80px;
    justify-content: space-around;
    font-size: 20px;
}
.image{
    display: flex;

}
.image1{
    display: flex;

}
.image2{
    display: flex;

}
.image3{
    display: flex;

}
